<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>车辆营销管理系统</title>
  <link rel="stylesheet" href="../stylesheets/buttons.css">
  <link rel="stylesheet" href="../stylesheets/public.css">
  <link rel="stylesheet" href="../stylesheets/list.css">
  <script type="text/javascript" src="../javascripts/jquery-1.12.4.min.js"></script>
  <script type="text/javascript" src="../javascripts/list.js"></script>
</head>
<%- include header%>
    <div id="list">
      <%if(listType == "car"){%>
        <table>
          <tr>
            <th>
              <p>车辆编号</p>
            </th>
            <th>
              <p>车辆生产厂家</p>
            </th>
            <th>
              <p>车辆型号</p>
            </th>
          </tr>
          <%for(var i=0;i<posts.length;i++){%>
          <tr>
            <td><p><a class="editInfoBtn" href=""><img src="./images/修改.png" alt="" /></a><a href="" class="carId display"><%=posts[i]._id%></a></p></td>
            <td><p><%=posts[i].Manufacturer%></p></td>
            <td><p><%=posts[i].carType%><img class="deleteInfoBtn" src="./images/删除.png" alt="" /></p></td>
          </tr>
          <%}%>
        </table>
      <%}else if(listType == "customer"){%>
        <table>
          <tr>
            <th>
              <p>客户编号</p>
            </th>
            <th>
              <p>客户姓名</p>
            </th>
            <th>
              <p>性别</p>
            </th>
            <th>
              <p>最近交易时间</p>
            </th>
          </tr>
          <%for(var i=0;i<posts.length;i++){%>
          <tr>
            <td><p><a class="editInfoBtn" href=""><img src="./images/修改.png" alt="" /></a><a href="" class="customerId display"><%=posts[i]._id%></a></p></td>
            <td><p><%=posts[i].name%></p></td>
            <td><p><%if(posts[i].gender){%>男<%}else{%>女<%}%></p></td>
            <td><p><%=posts[i].lastDealTime%><img class="deleteInfoBtn" src="./images/删除.png" alt="" /></p></td>
          </tr>
          <%}%>
        </table>
      <%}else if(listType == "sale"){%>
        <table>
          <tr>
            <th>
              <p>订单编号</p>
            </th>
            <th>
              <p>客户编号</p>
            </th>
            <th>
              <p>车辆编号</p>
            </th>
            <th>
              <p>交易价格</p>
            </th>
          </tr>
          <%for(var i=0;i<posts.length;i++){%>
          <tr>
            <td><p><a class="editInfoBtn" href=""><img src="./images/修改.png" alt="" /></a><a href="" class="saleId display"><%=posts[i]._id%></a></p></td>
            <td><p><a class="display customerIdOnSale" href=""><%=posts[i].customerId%></a></p></td>
            <td><p><a class="display carIdOnSale" href=""><%=posts[i].carId%></a></p></td>
            <td><p><%=posts[i].price%><img class="deleteInfoBtn" src="./images/删除.png" alt="" /></p></td>
          </tr>
          <%}%>
        </table>
      <%}%>
    </div>
<%- include footer%>
